<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Static Resources Demo</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script th:src="@{/js/script.js}"></script>
</head>
<body>
    <h2>📄 Static Resources in Spring Boot</h2>
    <p id="text">This text will change color using CSS and JavaScript.</p>
    <button onclick="changeColor()">Click Me</button>

    <br><br>
    <img th:src="@{/images/spring.png}" width="200px" alt="Spring Logo"/>
</body>
</html>
